%h1 FreeShelf
%br/
= link_to 'Add Book', new_book_path
= link_to 'Log Out', logout_path
%hr/
%fieldset
  %legend Book Shelf
  - @books.each do |book|
    %div
      %h2= book.title
      %h4= "Author: #{book.author}"
      %p= "Posted by: " + book.user.username
      %br/
      = link_to 'See Book Profile', book_path(book)
      - if session[:current_user_id] == book.user_id
        %br/
        = link_to 'Edit Book', edit_book_path(book)
        %br/
        = link_to 'Delete Book', book_path(book), method: :delete, data: {confirm: 'Are You sure'}
= paginate @books
